/* Import Google Font */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Poppins&display=swap');
/* Universal */

* {
    margin: 0;
    padding: 0;
}

/* Utilities CSS */

body {
    background-color: #f0f8ff;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget-title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

/* Header CSS */

header {
    background-color: #fff;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
    color: #333;
}

nav .nav-lists {
    display: flex;
    align-items: center;
}

.nav-lists .nav-list {
    list-style: none;
    margin-left: 20px;
}

.nav-lists .nav-list.icon {
    font-size: 1.6em;
}

/* Hero section */

.hero-container {
    width: 1200px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    font-size: 3em;
    font-weight: 900;
}

.link-btn {
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 41px;
    margin-top: 16px;
}

.hero-container:hover .hero-featured img {
    transform: scale(1.2);
    transition: transform ease-in-out 1s;
}

.hero-featured {
    background-image: url(/images/hero-bg.png);
    background-position: right center;
    background-size: 400px;
    background-repeat: no-repeat;
}

.hero-featured img {
    width: 90%;
}

/* Brand Design */

.brand-carousel {
    width: 1200px;
}

.brand-carousel hr {
    border: 0;
    height: 1px;
    background-color: #e0effcd0;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    flex-wrap: wrap;
}

/* CSS for Product Collection */

.product-collection {
    width: 1024px;
    margin-top: 100px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
}

.product {
    background-color: #fff;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.meta-title {
    margin-top: 16px;
    font-size: 28px;
    font-weight: 500;
}

.meta-price {
    margin-top: 6px;
    font-size: 24px;
    font-weight: 400;
}

.rating {
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
}

.rating span {
    margin-left: 4px;
}

.rating-filled,
.rating-half {
    color: #FB8200;
    font-size: 12px;
}

.rating-empty {
    color: #b7bbbe;
    font-size: 12px;
}

.meta-footer {
    display: flex;
    align-items: center;
}

.meta-footer ion-icon {
    margin-right: 6px;
}

/* Lead CSS */

.lead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin-top: 150px;
}

.lead-text {
    width: 55%;
}

/* Footer CSS */

.footer {
    background-color: #0a0826;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}